*{
    font-size: 1.6rem;
   /* border: 2px solid red;*/
}

body {
    color: rgb(255, 255, 255);
    background-color:rgba(20, 19, 19, 0.904); 
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
}

.title {
    color: rgb(3, 180, 250);
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
    width: 850px auto;
    border-radius: 10px;
    margin: auto;
}

.Logo {
    text-align: center;
}

p.welcome-line {
    font-size: 2.2rem;
    color: rgb(3, 180, 250);
    text-align: center;
}

.Button {
    background-color: slategrey;
    color: gainsboro;
    font-size: 1.8rem;  
    padding: 15px 32px;
    border: none;
    border-radius: 8px;
    width: 120px;
    text-align: center;
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

/*.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: black;
}*/

.nav-links {
    background: black;
    box-shadow: 0px 0px 4px rgba(95, 93, 93, 0.918);
    margin: 0;
    padding:1rem 0;
    border-radius: .2rem;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;


    /*display: flex;
    list-style-type: none;
    justify-content:flex-end;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;*/
}

.nav-item{
    list-style: none;
    margin right: 2rem;  
}

.nav-item a{
    text-decoration: none;
    color: gainsboro;
    padding:0 5px;
}

.nav-item img{
    width: 50px;
   float: left;
}

.nav-item:first-child{
    margin-right: 5px;
    margin-left:10px;
    padding: 0;
}

/*.nav-links .home-logo {
    position: relative; 
    width: 80px;
    background-size: contain;
}

.nav-links > li {
    float: left;
    padding: 3.6rem 3rem;
    flex: 1;
    margin: auto;

}*/

.nfl-logo{
    display: flex;
    justify-content: center;
    padding:40px 0;
    margin-left: auto;
    margin-right: auto;
}

a {
    color:white;
    text-decoration: none;
}

.manager-name > a{
    color: white;    
    font-weight: bolder;
}

.league-managers {
    display: flex;
    justify-content: center;
    color: gainsboro;
    font-size: 2.0rem;
    font-weight: bold;
    padding: 0 50px;
    margin: 10px;
    
}

.managers {
    width: 500px;
    margin-left:auto;
    margin-right: auto;
    overflow: auto;
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: auto;
    grid-gap: 3px;
    box-sizing: border-box;
}


.manager-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height:auto;    
    border: 5px solid black;
    list-style: none;
    padding: 50px;
    border-radius: 50%;
}

/*.manager-name {
    background-color: black;
    color: gainsboro;
    font-size: 1.8rem;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 32px;
    border: none;
    border-radius: 8px;
    width: 120px;
    text-align: center;
    margin: 0 auto 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: block;
}*/

.home-logo {
    display: flex;
    
}

